/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: lightgreen;
    color: #333;
}

header {
    background-color: #228B22;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #228B22;
    color: white;
}
